html, body {
    height: 100%;
    margin: 0; padding: 0;
}
.mdl-list__item.pointer {
    cursor: pointer;
}
.chat-message-list {
    padding: 0 5px;
}


.chat-message-footer {
    padding: 5px;
    background-color: #EEE;
    border-top: 1px solid lightgray;
}

.width-300 {
    width: 300px;
}

.mdl-dialog.width-500 {
    width: 500px;
}

.drawer-header-user-dropdown {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
}